<!DOCTYPE html>
<html>
<head>
<title>Xpeak Cyber 2012</title>
<meta charset="UTF-8"/>
<meta name="author" content="KirBotz"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="From the people for the elements of the devil, you are wise to the people, you eat the people's money, you are paid by the people and why bother the people."/>
<meta property="og:title" content="Xpeak Cyber 2012"/>
<meta name="keywords" content="KirBotz - Manz - Zakky - Xpeak Cyber 2012"/>
<meta property="og:image" content="https://telegra.ph/file/a6909390c313325a254db.jpg"/>
<meta property="og:type" content="website"/> 
<meta property="og:site_name" content="Xpeak 2012"/>
<link rel="shortcut icon" type="images/icon" href="https://telegra.ph/file/a6909390c313325a254db.jpg" />
<link rel="stylesheet" type="text/css" href="https://cdn.prinsh.com/NathanPrinsley-textstyle/nprinsh-stext.css"/>
<style>body{background: url("https://telegra.ph/file/a746cb354776203581f31.jpg?resize=521%2C384&ssl=1") no-repeat center center fixed;background-size:100% 100%;font-family:Verdana;margin-top:35px;}h1,h2{margin-top:.3em;margin-bottom:.3em;}h1.nprinsleyy{color:#dbd9d9;}h2{color:#dbd9d9;}p.message_prinsley{color:#dbd9d9;margin-top:.25em;margin-bottom:.25em;font-size:16px;font-weight:unset;}.hubungi_prinsh{color:#dbd9d9;text-decoration:none;}.hubungi_prinsh:hover{color:red}.othermes_nprinsh{color:#560491;font-size:16px;}marquee.foonathanPrinsley{display:;position: fixed; width: 100%; bottom: 0px; font-family: Tahoma; height: 20px; color: white; left: 0px; border-top: 2px solid darkred; padding: 5px; background-color: #000}
</style>
</head>
<body>
<center/>
<img src="https://telegra.ph/file/a6909390c313325a254db.jpg" style="width: 20%">
<h1 class="nprinsleyy nprinsley-text-glitchan" style="font-size:32px;">Xpeak Cyber</h1>
<h2 style="font-size:24px;" class="nprinsley-text-blupelan">Quotes Made by Xpeak 2012</h2>
<p class="message_prinsley nathan-prinsley_none">From the people for the elements of the devil, you are wise to the people, you eat the people's money, you are paid by the people and why bother the people.</p>
<hr/>
<p style="font-size:14px;" class="nprinsley-text nprinsley-rainbow">
<a class="hubungi_prinsh" href="mailto:tesheroku123@gmail.com">#kirbotz #manz #bloodsword #abii #sanzzx</a>
</p>
<p class="othermes_nprinsh nprinsley-text-rainbowan">Hacker And Attacker</p>
<audio src="https://l.top4top.io/m_2429eq8w10.mp3"  autoplay="1" loop="1">
</audio>
<marquee class="foonathanPrinsley">
<b style="color: #dbd9d9;font-size:16px;" class="nprinsley-text-glitchan">© kirbotz || © manz || ©bloodsword || ©abii || ©sanzzx</b>
</marquee>
</center>
<script src="https://cdn.prinsh.com/NathanPrinsley-effect/efek-salju.js" type="text/javascript">
</script>
</body>
</html>