<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
  <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
  <meta name="author" content="Akiraa">
  <title> KirBotz - APIs </title>
  <meta property="og:site_name" name="og:site_name" content="KirBotz - APIs">
  <meta property="og:title" name="og:title" content="KirBotz - APIs">
  <meta property="og:url" name="og:url" content="http://wa.me/6287705048235">
  <meta property="og:image" name="og:image" content="https://telegra.ph/file/35e49164d7a6690d24fea.jpg">
  <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
  <link rel="apple-touch-icon" href="/images/icon.png" />
  <link rel="shortcut icon" type="image/icon.png" href="/images/icon.png" />
  <link rel="icon" href="/images/icon.png" />
  <meta name="msapplication-TileColor" content="#292929" />
  <meta name="msapplication-TileImage" content="/images/icon.png" />
  <meta name="theme-color" content="#292929" />
  <link rel="canonical" href="/" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/nucleo-icons.css" />
  <link rel="stylesheet" href="/css/alli.min.css" />
  <link rel="stylesheet" href="/css/icone.css" />
  <link rel="stylesheet" href="/css/black-dashboard.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous"/>
</head>

<body class="sidebar-mini dark-content">
    <div class="wrapper">
      <div class="sidebar" data="darm">
  <div class="sidebar-wrapper">
    <div class="logo text-center">
      <a href="/" class="simple-text logo-normal" style="font-size: small;">
           KirBotz - APIs
        </a>
     </div>
    <ul class="nav">
      <li>
        <a href="/api">
          <i class="fal fa-alien-monster"></i>
          <p>Back Dashboard</p>
        </a>
      </li>
      </li>
    </ul>
  </div>
</div>
<iv class="main-panel">
 <div class="navbar-minimize-fixed" style="opacity: 0;">
    <button class="minimize-sidebar btn btn-link btn-just-icon">
    <i class="tim-icons icon-align-center visible-on-sidebar-regular text-dark"></i>
    <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-dark"></i>
  </button>
</div>
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="top: 0px;">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-minimize d-inline">
          <button class="minimize-sidebar btn btn-link btn-just-icon" rel="tooltip" data-original-title="Sidebar toggle" data-placement="right" aria-describedby="tooltip723041">
            <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
            <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
          </button>
        </div>
        <a class="navbar-brand" href="#"></a>
      </div>
      </button>
      <div class="navbar-collapse collapse" id="navigation" style>
        <ul class="navbar-nav ml-auto text-dark">
        	<li class="nav-item dropdown no-arrow text-dark">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="tim-icons icon-zoom-split text-dark"></i>
                </a>
           
          <li class="separator d-lg-none"></li>
        </ul>
      </div>
    </div>
  </nav>

        <main>
            <section>                    
            	<div class="col-xl-3 col-md-6 mb-4">                            
        	<div class="card-body">
            	<div class="row no-gutters align-items-center">
                	<div class="col mr-2">
							<div class="card card-chart">
								<div class="card-body">
								<h3 style="margin-bottom: 0">
							</h3>
						<div class="card-body">
						<h4><b>DONASI SEIHKLASNYA KAK</b></h4>
						<h5><b>QRIS ALL PAYMENT</b></h5>
					</div>
					<img src="https://telegra.ph/file/29e79d2a91c17039af10f.jpg" class="rounded-shadow-4"style="width: 300px;" alt="Qris All Payment" />
				</div>
				<button type="submit" class="btn btn-primary">Scan Now</button>
			</div>
		</div>
		</div>
		</div>
		
        	<div class="card-body">
            	<div class="row no-gutters align-items-center">
                	<div class="col mr-2">
							<div class="card card-chart">
								<div class="card-body">
								<h3 style="margin-bottom: 0">
							</h3>
						<div class="card-body">
					</div>
					<div>
					<h4><b>E-WALLETS<b></h4>
					<img src="https://telegra.ph/file/b89b93147d600b4241d95.jpg" class="rounded-circle shadow-4"style="width: 30px;" alt="Avatar" />
					<span> Dana: 0857-9814-5596</span>
					<div>
						<div>
					<img src="https://telegra.ph/file/bf2e29e770eee74e7e5c7.jpg" class="rounded-circle shadow-4"style="width: 30px;" alt="Avatar" />
					<span> Gopay: 0877-0504-8235</span>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</from>
		
		<div class="card-body">
            	<div class="row no-gutters align-items-center">
                	<div class="col mr-2">
							<div class="card card-chart">
								<div class="card-body">
								<h3 style="margin-bottom: 0">
							</h3>
						<div class="card-body">
						<from action="wa.me/6288296339947">
						<p></p>
						<h4><b>SISTEM TRANSFER</b></h4>
						<p>- BUKA APLIKASI PEMBAYARAN</p>
						<p>- SCAN QRIS/MASUKAN NOPE</p>
						<p>- ISI NOMINAL</p>
						<p>- SS RIWAYAT TF</p>
						<p>- SEND BUKTI TF (SSAN TADI) KE  <a href="https://wa.me/6287705048235">WHATSAPP</a>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Ok</button>
			</div>
			</from>
		</div>
		</div>
		</div>
		</div>
		</div>
       
<center>
</center>      

<footer class="footer fixed-bottom">
        <div class="copyright text-center my-auto">
  <span>
    Created By KirBotz | © 2022-2023
  </span>
</div>
        </footer>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https:////cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" charset="utf-8"></script>
    <script src="/js/core/jquery.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <script src="/js/black-dashboard.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/swal.js"></script>
   
</body>
</html>